<!-- <p>keyboard works!</p> -->
<h2 style="color: #992200; font-family: rgba()" class="text_e">This is A Piano</h2>
	<div class="image"><img src="assets/uploads/piano.jpg"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="form">
<!-- <form action="" method=""></form> -->
<div class="center">
	
	<a routerLink="/feedback"><input type="submit" name="button" value="FeedBack" class="btn btn-success"></a>
</div>
<!--  -->
