<!-- <p>user works!</p> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="form">
<!-- <form action="" method=""></form> -->
<div class="center">
	<!-- <button class="btn btn-info" type="submit">Feed Back</button> -->
	<a routerLink="/feedback"><input type="submit" name="button" value="FeedBack" class="btn btn-success"></a>
</div>
<!-- <div class="register">
	<button class="btn btn-success">Register</button>
</div> -->
</div>
